html,
body {
  height: 100%;
}

* {
  margin: 0;
  font-family: "Marcellus", serif;
}

[data-theme="dark"] {
  --primarycolor: #fffbf2;
  --secondarycolor: #181818;
  --highlight: #ffc802;
  --inputtheme: dark;
}
[data-theme="light"] {
  --primarycolor: #181818;
  --secondarycolor: #fffbf2;
  --highlight: #04590f;
  --inputtheme: light;
}

main {
  display: grid;
  grid-template-columns: 230px auto;
  height: 100%;
  gap: 1rem;
}

.menu {
  height: 100%;
  width: 230px;
  border-right: 1px solid var(--primarycolor);
  padding: 0.5rem;
}

h1 {
  font-size: 2rem;
}
label {
  color: var(--primarycolor);
}
h1,
h2,
h3,
h4,
h5,
p {
  color: var(--primarycolor);
}

h3 {
  font-size: 2rem;
}

input {
  font-size: 1rem;
}

input {
  color-scheme: var(--inputtheme);
}

.new_outer {
  border-bottom: 1px solid var(--primarycolor);
  padding-bottom: 0.4rem;
}

.more_new_container {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.new_outer.hidden .more_new_container {
  grid-template-rows: 0fr;
}

.first_extra {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-bottom: 2rem;
}
.more_new_inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  width: 50%;
}

input[type="date"] {
  font-size: 0.8rem;
  width: 140px;
  opacity: 20%;
  border-bottom: 1px solid var(--primarycolor);
}
input[type="date"]:focus {
  opacity: 100%;
}

.more_info {
  opacity: 20%;
  border-bottom: 1px solid var(--primarycolor);
  font-size: 0.8rem;
  background-color: var(--secondarycolor);
  border: 1px solid var(--secondarycolor);
  border-bottom: 1px solid var(--primarycolor);
  color: var(--primarycolor);
  resize: none;
  margin-bottom: 2rem;
}

.more_info:focus {
  opacity: 100%;
  font-size: 0.8rem;
  outline: none;

  border-bottom: 1px solid var(--primarycolor);
}
body {
  background-color: var(--secondarycolor);
  height: 100%;
}
.to_do_list {
  min-height: 7rem;
}

.list {
  border-radius: 0.9rem;
  padding: 1rem;
}

.list header {
  display: flex;
  justify-content: space-between;
}

.list header p {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--primarycolor);
}
.completed_number:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list header p .viewBtn {
  font-size: 0.6rem;
}
.list header p .viewBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu {
  gap: 0.5rem;
}

button {
  cursor: pointer;
}

.menu .new_list {
  color: var(--primarycolor);
  background-color: var(--secondarycolor) !important;
  font-size: 1.3rem;
  border: 1px solid var(--primarycolor);
  max-height: 5rem;
  width: 92%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu .new_list.no {
  display: none;
}

.menu button {
  border: none;
  padding: 0.5rem;
  color: var(--primarycolor);
  background-color: var(--secondarycolor);
  font-size: 1.3rem;
  border: 1px solid var(--primarycolor);

  max-height: 5rem;
  width: 100%;
}

.menu button.active {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
}

.menu button:hover {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
}

.btn_list_inner {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.btn_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.menu_inner {
  position: fixed;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  border-bottom: 1px solid var(--primarycolor);

  margin-top: 1rem;

  display: flex;
}

.new {
  padding-bottom: 0.4rem;
  padding-left: 0rem;
  padding-top: 1rem;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.new button {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.new button:hover {
  background-color: var(--highlight);
  transition: 0.2s ease-in-out;
}

input {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  display: flex;
  border: none;
  width: 100%;

  font-weight: 600;
}
input:focus {
  outline: none;
}

.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin: 0;
  border: 1.5px solid var(--primarycolor);
  border-radius: 5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkbox.active {
  border: 1.5px solid var(--primarycolor);
}

.checkbox.active .checked {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  margin: 0;
  background-color: var(--primarycolor);
  border-radius: 5rem;
}

.checked {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checked svg {
  scale: 1;
  fill: var(--secondarycolor);
  display: none;
}
.checkbox.active .checked svg {
  display: block;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.item {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.delete {
  scale: 0.5;
  cursor: pointer;
  margin-bottom: auto;
}

.count {
  border-bottom: 1px solid var(--primarycolor);

  width: 300px;
  opacity: 30%;
}
.item .flex {
  width: 100px;
}
.antal {
  margin-right: 2rem;
  font-size: 1rem;

  max-width: 300px;
  padding-bottom: 0.5rem;
}
.count:focus {
  opacity: 100%;
}
.count::after {
  opacity: 100%;
}

.item .antal {
  margin-left: 1rem;

  min-width: 200px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.remove {
  display: none;
}

.done_section {
  margin-top: 10rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--primarycolor);
}

.top {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 999;
  padding-top: 1rem;
}

.done_list_conatiner {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.done_section.hidden .done_list_conatiner {
  grid-template-rows: 0fr;
}

.done_section.hidden .done_list_conatiner .done_list {
  overflow: hidden; /* 4 */
}

.accordion.hidden .x {
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}

.done_list {
  overflow: hidden;
}

.done_section.hidden .x {
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
}

.x {
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}

.delete svg {
  fill: var(--primarycolor);
}

.x {
  fill: var(--primarycolor);
}

.alert {
  color: red;
  font-size: 1rem;
}

.no {
  display: none;
}

select {
  background-color: var(--secondarycolor);
  color: var(--primarycolor);
  height: 30px;
  font-size: 1rem;
  padding-left: 0rem;
  border: none;
  border-bottom: 1px solid var(--primarycolor);
  margin-right: 2rem;
  margin-top: 1rem;
}

select:focus {
  outline: 1px solid var(--secondarycolor);
}

.first_header {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.item .date {
  opacity: 100%;
  min-width: 100px;
  color: var(--primarycolor);
}

.setnotes {
  border-bottom: 1px solid var(--primarycolor);
  font-size: 0.8rem;
  background-color: var(--secondarycolor);
  border: 1px solid var(--secondarycolor);
  width: 30ch;

  height: auto;

  color: var(--primarycolor);
}

.set_notes {
  padding-left: 0.5rem;
  margin-left: 5rem;

  border-left: 1px solid var(--primarycolor);
}

.flex.big {
  gap: 5rem;
  margin-top: 0.5rem;
}

.view_more_btn {
  font-size: 0.7rem;

  margin-top: auto;
  margin-bottom: auto;
}
.view_more_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.new_outer {
  border-bottom: 1px solid var(--primarycolor);
  padding-bottom: 0.4rem;
}

.item {
  cursor: pointer;
  width: 100%;
}
.item_content_outer {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.item.hidden .item_content_outer {
  grid-template-rows: 0fr;
  width: 100%;
}
.item_content_inner {
  overflow: hidden;
  width: 100%;
}
.content {
  width: 100%;
}

.first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.submit {
  position: relative;
  z-index: 9999;
}
.center {
  justify-content: center;
  align-items: center;
}

svg.delete {
  display: none !important;
  margin-top: 0;
  align-self: center;
  fill: var(--primarycolor);
}
.close_menu {
  display: none;
}

.menu_btn_open {
  display: none;
  fill: var(--primarycolor);
  padding: 1rem;
  padding-left: 0rem;
}
@media (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .menu {
    position: absolute;
    transform-origin: right;
    left: -100%;
    background-color: var(--secondarycolor);
    transition: 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 9999;
  }
  .menu.display {
    left: 0%;
    transition: 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  svg.delete {
    display: block;
  }
  .menu_btn_open {
    display: block;
  }
  .menu_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close_menu {
    fill: var(--primarycolor);
    display: block;
  }
  .menu_top select {
    margin-top: 0rem;
  }
}
